<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaOGAfZfAJpWW1qBHt_BmwYWu33IVmAPo</string>
	<key>GCM_SENDER_ID</key>
	<string>972184148095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja</string>
	<key>PROJECT_ID</key>
	<string>first-app-66594</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-66594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972184148095:ios:71b2e50f679deda7a9074a</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-66594-default-rtdb.firebaseio.com</string>
</dict>
</plist>